@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  font-family: Roboto;
  padding:0;
  margin:0;
}

.Title{
  margin-top:0em;
  margin-bottom: 1em;
  color: #5e7cb1;
}

.Panel{
  padding: 30px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: top;
  border: 1px solid #5e7cb1;
  border-radius:20px;
  height: 87vh;
}

#favorites-list div {
    margin-bottom: 20px;
  }
  
  #favorites-list h3 {
    margin: 0;
  }
  

  #favorites-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    overflow-y: auto;
    height: 100%;
  }
  
    #favorites-list h3 {
      margin: 0;
    }
    
    /* General styles */
  .video-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    width: 21vw;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 400px;
    position:relative;
  }
  
  .video-thumbnail {
    position: relative;
    height: 169px; /* Maintain aspect ratio with image width */
    overflow: hidden;
  }
  
  .video-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .play-button svg {
    fill: white;
    width: 40px;
    height: 40px;
  }
  
  .video-info {
    padding: 10px;
  }
  
  .video-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .video-description {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
  }
  
  .video-actions {
    display: flex;
    justify-content: space-between;
  }
  
  .add-to-favorites-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #f00; /* Change color as needed */
  }
  
  .favorite-button{
    font-size: 10px;
    color: #4B77D1;
    position: absolute;
    bottom: 4px;
    right: 4px;
    cursor: pointer;
  }
  
  .addFavorite svg{
    display: none;
  }
  
  .delFavorite i{
    display: none;
  }

  @media (max-width: 768px) {
    .video-item {
      width: 90%; /* Adjust as needed for smaller screens */
    }
  
    .Panel{
      margin: 0;
      padding: 20px;
    }
  
    #searchbar{
      width:90%
    }
  }